In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import DataFrame
%matplotlib inline

In [18]:
df = pd.read_csv('WELLCOME_APCspend2013_forThinkful.csv',  encoding="latin-1")
df.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 5 columns):
PMID/PMCID                                             1928 non-null object
Publisher                                              2127 non-null object
Journal title                                          2126 non-null object
Article title                                          2127 non-null object
COST (£) charged to Wellcome (inc VAT when charged)    2127 non-null object
dtypes: object(5)
memory usage: 83.2+ KB

In [23]:
df.isnull().sum()

PMID/PMCID                                             199
Publisher                                                0
Journal title                                            1
Article title                                            0
COST (£) charged to Wellcome (inc VAT when charged)      0
dtype: int64

In [203]:
df1 = df.dropna(subset=['Journal title'])

df1['Journal title'].value_counts().head(5)

PLoS One                                           92
PLoS ONE                                           62
Journal of Biological Chemistry                    48
Nucleic Acids Research                             21
Proceedings of the National Academy of Sciences    19
Name: Journal title, dtype: int64

In [246]:
df1['cost'] = df1['COST (£) charged to Wellcome (inc VAT when charged)'].str.extract('(\d+)').astype(int)
# what about using "str.split('£').str[1].str.split('$').str[0]" ?????

mean = df1.groupby(['Journal title'])['cost'].mean()
median = df1.groupby(['Journal title'])['cost'].median()
std = df1.groupby(['Journal title'])['cost'].std()
pd.concat([mean, median, std], axis=1)

statistic_data = pd.DataFrame({'mean': mean,'median':median, 'std':std})
statistic_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                             mean  median         std
Journal title
ACS Chemical Biology       1417.6  1294.0  507.153133
ACS Chemical Neuroscience  1186.0  1186.0         NaN
ACS NANO                    642.0   642.0         NaN
ACS Nano                    693.0   693.0         NaN
ACTA F                      754.0   754.0         NaN

In [ ]:
# how the identify the open access prices paid by subject area ?????